html,
body {
  height: 100%;
  margin: 0;
}

#learningGoal {
  background: #252a41;
  color: antiquewhite;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #f5f5f5; */
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  /* background-color: #f5f5f5; */
  background: #1a1d2d;
}

.header {
  text-align: left;
  width: 100%;
}

.back-button {
  background: none;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: antiquewhite;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%; /* Set max width as necessary */
}

/* .input-field {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
} */

.input-field {
  padding: 16px; /* More padding for a larger area */
  margin-bottom: 20px; /* Increase spacing below the field */
  border-radius: 8px;
  border: 1px solid #d1d5db;
  min-height: 120px; /* Minimum height to fit 2-3 sentences */
  width: 100%;
  box-sizing: border-box; /* To include padding in the width */
  resize: vertical; /* Allows the user to resize the textarea vertically */
  white-space: pre-wrap; /* Ensures that whitespace is preserved and text wraps */
  overflow-wrap: break-word; /* To break words that would overflow the container */
}

.add-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
}

.examples {
  margin-top: 20px;
}

.example {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .tags-output {
  margin-top: 1rem;
  text-align: left;
} */

.tags-output {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  padding: 8px;
  color: antiquewhite;

  /* box-sizing: border-box; */
  /* overflow-wrap: break-word; */
}

.tag {
  display: inline-block;
  /* background-color: #8a9ebb; */
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 0.9rem;
  border: 2px solid #556688;
  color: antiquewhite;
}

.tag-close {
  margin-left: 8px;
  cursor: pointer;
}

p {
  padding: 5px 5px;
  color: antiquewhite;
}
/* .tag {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
} */

.tag.selected {
  font-weight: bold;
  border-color: #2563eb; /* Change the border color for selected tags */
}

.continue-button {
  background-color: #2563eb;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  max-width: 460px;
}
